[Desktop Entry]
Type=Application
Name=File Manager
GenericName=File Manager
Comment=PandaOS File Manager
Exec=panda-files %U
MimeType=inode/directory;
Icon=panda-files
Categories=FileManager;Utility;Core;Qt;
StartupNotify=true
